a{
text-decoration:none;
}
.navbar{
background-color:#353942;

}
.navbar h1{
color:white;

}

.navbar a{
color:#606368;
margin:5px;
text-decoration:none;
}
.navbar a:hover{
color:white;

}

.but {
background-color:#007bff;
color:white;

}
.ss{
background-color:#f7f7f7;
width:100%;
}
.side{
background-color:#36404e;
color:white;
}
span
{
color:#72abd5;
}
.big_link{

text-decoration:none;

}
.row{
height:100%;
}
.active{
padding:15px;
margin-bottom:5px;
background-color:#313a46;
display:block;
text-decoration:none;
}
.a{
color:white;
padding:15px;
margin-bottom:5px;
display:block;


}
.div{
display:inline-block;
float:left;
padding:16px;
margin:15px;
width:30%

}
.div:hover{
text-decoration:none;
}
.side a:visited{
padding:15px;
margin-bottom:5px;
background-color:#313a46;
display:block;
text-decoration:none;


}
