{%extends 'news/base.html'%}
{%load static%}
{%block title%}
{{category.title}} details
{%endblock%}
{%block content%}
 <div class="border mb-4">
           <div class="p-3">
             <h3>{{category.title}}</h3>
               <p style="font-size:22px; font-weight:550;">{{category.content}}</p>

           </div>
         </div>



<h1> related posts in {{category.title}}</h1>

{%for post in posts%}

 <div class="border mb-4">
     <img src="{{post.image.url}}" width="100%">
           <div class="p-3">
               <p style="font-size:22px; font-weight:550;">{{post.content}}</p>
        <h6>Category :<a href="#"> {{post.category}}</a></h6>
        <a href="{%url 'post_details' post.id%}" class="btn mb-4">Read More -></a>
           <div class="border-top ">
               <p class="mt-2" style="color:#aeb2b5"> posted in {{post.post_date}}</p>

           </div>
         </div>
      </div>
          {%empty%}
           <h2> No posts yet</h2>
          {%endfor%}

{%endblock%}
